<div class="page">
  <div class="calculator">
    <div class="display">{{display}}</div>
  
    <div class="buttons">
      <div class="row">
        <button class="c operator" (click)="operator('C')">C</button>
        <button class="undo operator" (click)="operator('UNDO')">UNDO</button>
        <button class="divide operator" (click)="operator('DIVIDE')">/</button>
      </div>

      <div class="row">
        <button class="7 number" (click)="number('7')">7</button>
        <button class="8 number" (click)="number('8')">8</button>
        <button class="9 number" (click)="number('9')">9</button>
        <button class="multiply operator" (click)="operator('MULTIPLY')">X</button>
      </div>

      <div class="row">
        <button class="4 number" (click)="number('4')">4</button>
        <button class="5 number" (click)="number('5')">5</button>
        <button class="6 number" (click)="number('6')">6</button>
        <button class="subtract operator" (click)="operator('SUBTRACT')">-</button>
      </div>

      <div class="row">
        <button class="1 number" (click)="number('1')">1</button>
        <button class="2 number" (click)="number('2')">2</button>
        <button class="3 number" (click)="number('3')">3</button>
        <button class="add operator" (click)="operator('ADD')">+</button>
      </div>

      <div class="row">
        <button class="decimal operator" (click)="operator('DECIMAL')">.</button>
        <button class="0 number" (click)="number('0')">0</button>
        <button class="equals operator" (click)="operator('EQUAL')">=</button>
      </div>
    </div>
  
  </div>
</div>